{# Статические файлы #}
{% load static %}

<div class="row gx-2 mt-4 mb-4">
    <div class="col-md-2 col-lg-2 text-center d-none d-md-block">
        <img src="{% static 'images/default.svg' %}" class="question-card-img d-md-block d-none" alt="">
        <p class="text-secondary m-0 d-block"><b>Author</b></p>
    </div>
    <div class="col-10">
        <div class="badge rounded-pill bg-success text-light d-md-none m-2">
            <img src="{% static 'images/default.svg' %}" class="question-card-sm-img" alt="">
            <p class="d-inline">Author</p>
        </div>
        <textarea name="Answer" class="form-control" id="AnswerTextArea" rows="5" required></textarea>
        <div class="d-flex justify-content-evenly gx-2 m-2">
            <button class="btn btn-success">Отправить</button>
            <button class="btn btn-primary">Предварительный просмотр</button>
        </div>
    </div>
</div>
<hr class="d-md-none">
