{# Базовый шаблон #}
{% extends 'base.html' %}

{# Статические файлы #}
{% load static %}

{% load bootstrap5 %}

{% block content %}
    <div class="row">
        {#  Форма для нового вопроса  #}
        <div class="col-md-8 col-12">
            <h1 class="display-6 mb-3 text-center">Новый вопрос</h1>
            <form novalidate class="w-md-75" action="/ask/" method="POST">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal'%}
                <button type="submit" class="btn btn-primary d-grid gap-2 col-4 mx-auto">Опубликовать</button>
            </form>
        </div>
        {# Правый блок #}
        <div class="col-md-4 col-12">
            {% include 'includes/sidebar.html' %}
        </div>
    </div>
{% endblock %}